html
	head
		title The Alarming Robotic Dancing Cat Chase
		link(rel='stylesheet', href='/static/style.css', type='text/css')
	body
		button send the request!

script(src="http://code.jquery.com/jquery-1.11.0.min.js")
